
/                                                  @avinash-palleti @sumanaga @vkb1 @sathyendranv @xwu2intel @pooja-intel @tanvidhola-ux

LICENSE            @xwu2intel
CONTRIBUTING.md    @xwu2intel @open-edge-platform/open-edge-platform-docs-write
CODE_OF_CONDUCT.md @xwu2intel
SECURITY.md        @xwu2intel
README.md          @xwu2intel @avinash-palleti @open-edge-platform/open-edge-platform-docs-write
